<nz-table #basicTable >
        <tr>
            <th>User Name</th>
            <td>{{ userLoggedIn.email }}</td>
        </tr>
        <tr>
            <th>Full Name</th>
            <td>{{ userLoggedIn.name }}</td>
        </tr>
        <tr >
            <th>Level</th>
            <td>{{ userLoggedIn.level }}</td>
        </tr>
        <tr >
            <th>Points</th>
            <td>{{ userLoggedIn.points }}</td>
        </tr>
        <tr >
            <th>Role</th>
            <td>{{ userLoggedIn.roles }}</td>
        </tr>
</nz-table>
