<nz-table #basicTable>
    <tr>
        <th>User Name</th>
        <td>{{ dataCustomer.email }}</td>
    </tr>

    <tr>
        <th>Status</th>
        <td>{{ dataCustomer.level }}</td>
    </tr>
    <tr>
        <th>Points</th>
        <td>{{ dataCustomer.points == "NaN" ? 0 :  dataCustomer.points}}</td>
    </tr>
    <tr>
        <th>Spent</th>
        <td>{{ dataCustomer.pointSpend }}</td>
    </tr>
    <tr>
        <th>Role</th>
        <td>{{ dataCustomer.roles }}</td>
    </tr>
</nz-table>