<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null">
        <div class="sidebar-logo">
            <a href="https://ng.ant.design/" target="_blank">
                <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
                <h1>Ticket Booking</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzOpen nzTitle="Infomation User" nzIcon="user">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/customer-point">Infomation User</a>
                    </li>
                    <li nz-menu-item nzMatchRouter  *ngIf="userLoggedIn?.roles == 'User'">
                        <a a routerLink="/booking">Booking</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="Admin Infomation" nzIcon="form" *ngIf="userLoggedIn?.roles == 'admin'">
                <ul>
                    <li nz-menu-item nzMatchRouter >
                        <a routerLink="/list-user">List Customer</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="Setting" nzIcon="setting">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a (click)="logout()">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header class="header-content">
            <div class="app-header ">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                </span>
            </div>
            <div class="user-information" >
                <div *ngIf="userLoggedIn">
                    {{ dataCustomer.email }} - {{ dataCustomer.level}} - {{ dataCustomer.points }} Points
                </div>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>


